@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

:root {
  --tipShadow: -2px -2px 3px var(--navTextColour);
  --contactShadow: -3px 3px 8px rgba(193, 190, 190, 0.4);

  /*
    || Values calculated in JS
    --navLinkSize:
    --navDropLinkSize:
    --navDropMenuWidth:
    --hamburgerWidth:
    --hamburgerLayerHeight:
    --hamburgerSpacer:
    --hamburgerLinkSize:
    --hamburgerMenuWidth:
    --viewModeButtonSize:
    --parallaxFontSize:
    --textFontSize:
    --footerFontSize:
    --tipFontSize:
    --borderImage:

    || Colours defined in JS for light and dark modes
    --textColour:
    --backColour:
    --navBarColour:
    --navTextColour:
    --navHoverColour:
    --menuBackgroundColour:
    --menuTextColour:
    --menuBackgroundHoverColour:
    --menuTextHoverColour:
    --hamburgerButtonColour:
    --titleColour:
    --colour1:
    --colour2:
    --scrollTrackColour:
    --scrollThumbColour1:
    --scrollThumbColour2:
    --scrollButtonColour1:
    --scrollButtonColour2:
    --scrollBorderColour:
    --progressColour:
    --tipBackgroundColour:
    --tipBorderColour:
    --tipTextColour:
    --contactFormBorderColour:
    --contactLabelColour:
    --contactBackgroundColour:
    --contactFieldPlaceholderColour:
    --contactFieldTextColour:
    --contactFieldBackgroundColour:
    --contactFieldBorderFocusColour:
    --contactButtonColour:
    --contactButtonTextColour:
    --contactButtonHoverColour:
    --contactButtonActiveColour:

    --highlightColour1:
    --highlightColour2:
    --postItColour:
    --sidebarTextColour:
    --sidebarBackgroundColour:
    --sidebarBorderColour:
    --alertColour:
    --successColour:
  */
}


/* || Utilities */
.offscreen {
  position: absolute;
  left: -3000px;
}

.nowrap {
  white-space: nowrap;
}

.centre {
  text-align: center;
}

/* || Layout */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--backColour);
  overflow-x: hidden;
  overflow-y: scroll;
}

header, footer {
  display: grid;
  grid-template-columns: 100%;
}

img {
  display: block;
  height: auto;
}

/* Checks all images to ensure tags have been included */
/*
img:not([width]),
img:not([height]),
img:not([alt]),
img:not([title]) {
  border: 5px dashed dodgerblue;
}
*/

input,
button,
textarea {
  font: inherit;
}

ul,
ol {
  list-style-type: none;
}

/* || Navigation Menu  */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--navBarColour);
  box-shadow: 1px 1px var(--navTextColour);
  -webkit-transition: top 0.4s;
  -moz-transition: top 0.4s;
  transition: top 0.4s;
}

#hamburgerNav {
  display: none;
}

#mainNav ul {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 2%;
  place-content: center space-evenly;
  font-family: Tektur;
}

#mainNav ul a {
  display: block;
}

#mainNav ul .dropMenuTrigger {
  position: relative;
}

#mainNav ul a,
#mainNav ul .dropMenuTrigger {
  font-family: inherit;
  font-size: var(--navLinkSize);
  color: var(--navTextColour);
  text-decoration: none;
}

#mainNav ul .dropMenuTrigger:hover {
  background-color: var(--menuBackgroundColour);
  cursor: pointer;
}

#mainNav ul .dropMenuTrigger:hover .dropMenu {
  display: block;
}

#mainNav .dropMenu {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--menuBackgroundColour);
  min-width: var(--navDropMenuWidth);
  z-index: 100;
}

#mainNav ul .dropMenu a {
  font-size: var(--navDropLinkSize);
  color: var(--colour1);
  text-decoration: none;
  padding: 2% 10%;
}

#mainNav ul .dropMenu li:last-child {
  padding-bottom: 5%;
}

#mainNav ul .dropMenu a:hover {
  background-color: var(--menuBackgroundHoverColour);
  color: var(--menuTextHoverColour);
  cursor: pointer;
}

/* || Light/Dark Viewing Mode */
.viewingMode button {
  display: flex;
  position: relative;
  top: var(--viewModeTop);
  left: var(--viewModeLeft);
  background-color: var(--navBarColour);
  border: none;
}

.viewingMode img {
  position: absolute;
  width: var(--viewModeButtonSize);
}

.viewingMode:hover {
  cursor: pointer;
}

/* || Tooltips */
.tooltip {
  position: relative;
  cursor: help;
  font-weight: bold;
  z-index: 110;
}

.tooltip:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -1.75rem;
  left: 0.1rem;
  padding: 0.4rem;
  white-space: nowrap;
  background-color: var(--tipBackgroundColour);
  color: var(--tipTextColour);
  border: 1px solid var(--tipBorderColour);
  border-radius: 1em;
  font-size: var(--tipFontSize); 
  font-style: italic;
  z-index: 100;
}

#mainNav .viewingMode .tooltip:hover::before {
  top: 1.5rem;
}

#hamburgerNav .viewingMode .tooltip:hover::before {
  top: 1.5rem;
  left: -6rem;
}

/* || Backdrop */
.parallax {
  width: 95%;
  margin: 0 auto;
  max-height: 80vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr) 3fr;
  grid-template-columns: repeat(2, 1fr) 8fr;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: min(120%, 5000px);
  border-radius: 10px;
}

.parallax .title {
  font-family: "Tektur", sans-serif;
  font-size: var(--parallaxFontSize);
  font-weight: bold;
  color: var(--titleColour);
  opacity: 0.65;
  grid-row: 2 / 2;
  grid-column: 2 / -1;
  letter-spacing: 0.55rem;
  text-shadow: -4px 4px gray, -3px -3px 25px #4d4dff, -1px -1px 5px darkblue;
}

#parallax1 {
  background-image: url("../images/rocket1.jpg");
}

#parallax2 {
  background-image: url("../images/rocket2.jpg");
}

#parallax3 {
  background-image: url("../images/rocket3.jpg");
}

#parallax4 {
  background-image: url("../images/rocket4.jpg");
}

#parallax5 {
  background-image: url("../images/rocket5.jpg");
}

#parallax6 {
  background-image: url("../images/rocket6.jpg");
}

#parallax6 .title {
  color: #e68a00;
  text-shadow: -4px 4px gray, -3px -3px 25px yellow, -1px -1px 5px darkblue;
}

.text_block {
  position: relative;
  font-size: var(--textFontSize);
  color: var(--textColour);
  margin: 3% 5% 5%;
  text-align: justify;
  text-justify: inter-word;
}

.text_block p:not(p:first-of-type) {
  margin-top: 2%;
}

/* !! All section animations to be wrapped with "prefers-reduced-motion" @media-query */
/* || Studies */
#block3 {
  display: grid;
  grid-template-rows: 2fr 7fr 4fr;
  grid-template-columns: 1fr;
}

#block3 p:nth-of-type(1) {
  grid-row: 1 / 1;
  grid-column: 1 / -1;
}

#block3 ul {
  grid-row: 2 / 2;
  grid-column: 1 / -1;
  opacity: 0.7;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6%;
  list-style-type: none;
}

#block3 ul li:nth-of-type(1) {
  grid-row: 1 / -1;
  grid-column: 1 / 1;
}

#block3 ul li:nth-of-type(2) {
  grid-row: 1 / -1;
  grid-column: 2 / 2;
}

#block3 ul li:nth-of-type(3) {
  grid-row: 1 / -1;
  grid-column: 3 / 3;
}

#block3 p:nth-of-type(2) {
  grid-row: 3 / 3;
  grid-column: 1 / -1;
}

.course-card {
  width: 85%;
  position: relative;
  z-index: 5;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s ease-in-out;
}

.course-card-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.course-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.course-card img {
  background-color: transparent;
  width: 80%;
  padding: 1%;
  border: 10px solid;
  border-image: var(--borderImage) 18 stretch;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

#outro,
.course-info {
  display: none;
}

.course-card-animate {
  opacity: 1;
  width: 110%;
  top: -15%;
  left: -15%;
  -webkit-animation: all 1s ease-in-out;
  -moz-animation: all 1s ease-in-out;
  -ms-animation: all 1s ease-in-out;
  -o-animation: all 1s ease-in-out;
  animation: all 1s ease-in-out;
}

.course-card-flip {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-animation: all 1s ease-in-out;
  -moz-animation: all 1s ease-in-out;
  -ms-animation: all 1s ease-in-out;
  -o-animation: all 1s ease-in-out;
  animation: all 1s ease-in-out;
}

/* || Employment */
#block4 {
  /* display: grid; */
  /* grid-template-rows: 2fr 7fr 4fr;
  grid-template-columns: 1fr; */
}

.container {
  /* padding: 2rem;
  padding-bottom: 400px; */
  /* margin: 0 auto; */
  /* max-width: 1200px; */
}

.timeline {
  display: flex;
  flex-direction: row;
}

.line {
  /* position: absolute; */
  position: relative;
  /* z-index: 2; */
  /* left: calc(50% - 1px); */
  left: 0;
  /* width: 2px; */
  width: 100%;
  height: 2px;
  /* top: -50px; */
  /* bottom: -50px; */
  background-color: yellow;
  display: none;
}

/* .line:before,
.line:after {
  position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: pink;
  left: 50%;
  transform: translateX(-50%);
} */

/* .line:after {
  bottom: 0;
} */

.section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  /* z-index: 1; */
  margin-top: 5%;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  /* min-height: 300px; */
}

/* .section:nth-child(odd) { */
/* flex-direction: row-reverse; */
/* transform: translateX(100%); */
/* } */

.circle {
  position: absolute;
  display: block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: greenyellow;
  /* left: 50%; */
  /* top: -20%; */
  transform: translateY(-250%);
  border: 2px solid red;
  z-index: 10;
}

/* .content {
  width: calc(50% - 2rem);
} */

.content > p {
  visibility: hidden;
}

.show:nth-child(n) {
  transform: none;
  opacity: 1;
}

/* || Projects */
/* #block5 {
  display: grid;
  grid-template-rows: 2fr 8fr;
  grid-template-columns: 2fr 3fr;
  color: var(--textColour);
}

#block5 ~ p {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

#copyright {
  font-size: 0.6rem;
  vertical-align: top;
}

.projectList {
  background-color: var(--postItColour);
  border: 2px solid #595959;
  color: var(--colour1);
  font-family: "Brush Script MT";
  font-size: 1.5rem;
  width: 55%;
  grid-row: 2 / 2;
  grid-column: 1 / 1;
  line-height: 1.6;
  box-shadow: -8px 8px 10px #b3b3b3;
  // Gradient: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(61,61,61,1) 25%, rgba(179,179,179,1) 100%);
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

.projectList li {
  background-color: var(--postItColour);
}

.projectList li:hover {
  list-style: none;
  width: 60%;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  color: #00b300;
}

.sidebar {
  position: fixed;
  top: 5%;
  right: -55%;
  height: 100%;
  width: 55%;
  grid-row: 1 / 2;
  grid-column: 2 / 2;
  font-size: 1rem;
  overflow-x: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 2%;
  background: transparent;
  text-align: justify;
  text-justify: inter-word;
}

.sidebar .close {
  position: absolute;
  margin-top: 0.1%;
  z-index: 10;
  background-color: var(--sidebarBackgroundColour);
  border: 2px solid var(--sidebarBorderColour);
}

.sidebar .close:hover {
  background-color: var(--navHoverColour);
}

aside {
  display: none;
  height: auto;
  width: 100%;
  background-color: var(--sidebarBackgroundColour);
  color: var(--sidebarTextColour);
  position: relative;
  z-index: 5;
  top: -85vh;
  left: 39.5vw;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 2px solid var(--sidebarBorderColour);
  padding: 2.5%;
}

.sidebar img {
  padding: 1%;
  border: 10px solid;
  border-image: var(--borderImage) 18 stretch;
}

.sidebar img:hover:not(#project3 img:hover) {
  margin: 0;
  padding: 0;
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
}

/* || Contact */
.formContainer {
  background-color: var(--contactBackgroundColour);
  border: 3px solid var(--contactFormBorderColour);
  margin-top: 5rem;
  padding: 1rem 2rem 2rem;
  border-radius: 5px;
  box-shadow: var(--contactShadow);
  cursor: none;
}

.contactForm {
  display: grid;
  align-items: center;
  place-items: flex-start;
  grid-template-rows: repeat(2, 6%) 10% 70% 8%;
  grid-template-columns: 35% 65%;
}

.contactForm label {
  font-family: "Tektur";
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--contactLabelColour);
  display: block;
}

.contactForm label:nth-of-type(1) {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.contactForm label:nth-of-type(2) {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  margin-left: 10%;
}

.contactForm label:nth-of-type(3) {
  grid-row: 3 / 3;
  grid-column: 1 / 1;
  align-self: flex-end;
}

#contactName {
  width: 100%;
  height: 5vh;
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}

#contactEmail {
  width: 90%;
  height: 5vh;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  margin-left: 10%;
}

.contactForm input {
  margin-bottom: 1.5%;
}

.contactForm textarea {
  width: 100%;
  resize: none;
  grid-row: 4 / 4;
  grid-column: 1 / -1;
}

.contactForm input,
.contactForm textarea {
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 0.5% 1%;
  background-color: var(--contactFieldBackgroundColour);
  outline: none;
  border: 2px solid var(--contactFormBorderColour);
  border-radius: 8px;
}

.contactForm input::-webkit-input-placeholder,
.contactForm textarea::-webkit-input-placeholder {
  color: var(--contactFieldPlaceholderColour);
}

.contactForm input:focus,
.contactForm textarea:focus,
.contactForm input:hover,
.contactForm textarea:hover {
  color: var(--contactFieldTextColour);
  border-color: var(--contactFieldBorderFocusColour);
}

/* .contactForm input:focus:required:invalid {
  border-color: var(--alertColour);
  background-color: var(--colour2);
} */

.contactForm > span {
  grid-row: 5 / 5;
  grid-column: 1 / 1;
}

.contactForm #contactForward {
  margin-right: 0.5rem;
}

.contactForm button {
  display: block;
  padding: 12px 20px;
  width: 50%;
  grid-row: 5 / 5;
  grid-column: 2 / -1;
  border-radius: 8px;
  border: 2px solid var(colour2);
  background-color: var(--contactButtonColour);
  color: var(--contactButtonTextColour);
  font-family: "Tektur";
  font-weight: bold;
  font-size: 1.3rem;
  transition: 0.5s all;
}

.contactForm button:hover {
  background-color: var(--contactButtonHoverColour);
}

/* .contactFormAlert {
  padding: 12px;
  border-radius: 10px;
  color: var(--alertColour);
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  display: none;
}
.contactFormAlert.visible {
  display: block;
}

.contactFormAlert.success {
  background: var(--successColour);
}

.contactFormAlert.error {
  background: var(--alertColour);
} */
/* ------------------------------- */

/* || Footer */
footer {
  bottom: 0;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto 1fr;
}

footer h3 {
  font-size: var(--footerFontSize);
  font-weight: normal;
  grid-row: 1 / 1;
  grid-column: 3 / 3;
  color: var(--textColour);
  text-align: right;
  margin-right: 0.5%;
}

footer a img {
  width: 3.5rem;
  margin-left: 0.5%;
  border-radius: 0.3rem;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* || Animations */
@media (prefers-reduced-motion: no-preference) {
  body {
    -webkit-animation: fadein 2s ease-in;
    -moz-animation: fadein 2s ease-in;
    -o-animation: fadein 2s ease-in;
    animation: fadein 2s ease-in;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .parallax {
    scale: 0.85;
    opacity: 0;
    animation: parallaxFade 0.5s linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }
  @keyframes parallaxFade {
    to { scale: 1; opacity: 1; }
  }

  .scrollProgress {
    height: 2px;
    position: absolute;
    opacity: 0.8;
    z-index: 100;
    background-color: var(--progressColour);
    width: 100%;
    scale: 0 1;
    flex-direction: row;
    transform-origin: left;
    animation: progressLine linear;
    animation-timeline: scroll();
  }
  @keyframes progressLine {
    to { scale: 1 1; }
  }

  #mainNav .dropMenu,
  #hamburgerNav #hamburgerButton .mainMenu,
  #hamburgerNav .dropMenuTrigger .dropMenu {
    animation: menuBounce 0.3s ease-in-out forwards;
    transform-origin: top center;
  }
  @keyframes menuBounce {
    0% { transform: scaleY(0); }
    80% { transform: scaleY(1.1); }
    100% { transform: scaleY(1); }
  }

  #hamburgerNav #hamburgerButton:hover #hamburgerIcon::before {
    transform: translateX(0px) rotate(405deg);
  }

  #hamburgerNav #hamburgerButton:hover #hamburgerIcon::after {
    transform: translateX(0px) rotate(-405deg);
  }
}

/* || Scrollbars - Hidden for mobile-sized devices */
@media screen and (min-width: 650px) {
  ::-webkit-scrollbar {
    width: 0.8rem;
    border: 2px solid var(--scrollBorderColour);
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollTrackColour);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollThumbColour1);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollThumbColour2);
  }

  ::-webkit-scrollbar-button {
    background-color: var(--scrollButtonColour1);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-button:hover {
    background-color: var(--scrollButtonColour2);
  }
}

@media screen and (max-width: 649px) {
  body {
    flex-direction: column;
  }

  /* Exchange nav menu bar for hamburger menu on narrower screens */
  #mainNav {
    display: none;
  }

  #hamburgerNav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0.25% 2%;
  }

  #hamburgerNav #hamburgerButton {
    position: relative;
    display: flex;
    align-items: center;
    height: calc((var(--hamburgerLayerHeight) * 3) + (2 * var(--hamburgerSpacer)));
    border: none;
  }

  #hamburgerNav #hamburgerIcon,
  #hamburgerNav #hamburgerIcon::before,
  #hamburgerNav #hamburgerIcon::after {
    position: absolute;
    background-color: var(--hamburgerButtonColour);
    width: var(--hamburgerWidth);
    height: var(--hamburgerLayerHeight);
    border-radius: 5px;
    transition: all 0.5s;
  }

  #hamburgerNav #hamburgerIcon::before,
  #hamburgerNav #hamburgerIcon::after {
    content: "";
  }

  #hamburgerNav #hamburgerIcon::before {
    transform: translate(0px, calc(var(--hamburgerSpacer) * -1));
  }

  #hamburgerNav #hamburgerIcon::after {
    transform: translate(0px, var(--hamburgerSpacer));
  }

  #hamburgerNav #hamburgerButton:hover #hamburgerIcon {
    background-color: transparent;
    cursor: pointer;
  }

  #hamburgerNav .mainMenu,
  #hamburgerNav .dropMenu {
    display: none;
    position: absolute;
    background-color: var(--menuBackgroundColour);
    font-size: var(--hamburgerLinkSize);
    text-align: left;
    z-index: 100;
    width: var(--hamburgerMenuWidth);
  }

  #hamburgerNav .mainMenu {
    top: 100%;
    left: -25%;
  }

  #hamburgerNav .dropMenu {
    top: 0%;
    left: 100%;
    min-width: calc(var(--navDropMenuWidth) * 3.25);
  }

  #hamburgerNav .mainMenu a,
  #hamburgerNav .dropMenuTrigger {
    display: block;
    color: var(--menuTextColour);
    text-decoration: none;
    padding: 3% 10%;
    position: relative;
    cursor: pointer;
  }

  #hamburgerNav #hamburgerButton:hover .mainMenu,
  #hamburgerNav .dropMenuTrigger:hover .dropMenu {
    display: block;
    min-width: 15%;
    padding: 5%;
  }

  #hamburgerNav .mainMenu a:hover,
  #hamburgerNav .dropMenuTrigger:hover {
    background-color: var(--menuBackgroundHoverColour);
    color: var(--menuTextHoverColour);
    cursor: pointer;
  }

  #hamburgerNav .viewingMode button {
    top: var(--viewModeTop);
    left: var(--viewModeLeft);
  }

  #hamburgerNav .viewingMode img {
    top: -0.1em;
    width: var(--viewModeButtonSize);
  }

  #hamburgerNav .scrollProgress {
    position: absolute;
    top: 100%;
    left: 0%;
  }

  .text_block {
    text-align: start;
    text-justify: none;
  }

  /* Re-arrange contact form as column for narrower screens */
  .contactForm {
    display: grid;
    align-items: flex-start;
    place-items: flex-start;
    grid-template-rows: repeat(5, 7%) 68% 4%;
    grid-template-columns: 30% 70%;
  }

  .contactForm label:nth-of-type(1) {
    align-self: flex-end;
    grid-row: 1 / 1;
    grid-column: 1 / -1;
  }

  .contactForm label:nth-of-type(2) {
    align-self: flex-end;
    grid-row: 3 / 3;
    grid-column: 1 / -1;
    margin: 0;
  }

  .contactForm label:nth-of-type(3) {
    grid-row: 5 / 5;
    grid-column: 1 / -1;
    align-self: flex-end;
  }

  #contactName {
    width: 100%;
    height: 5vh;
    grid-row: 2 / 2;
    grid-column: 1 / -1;
  }

  #contactEmail {
    width: 100%;
    height: 5vh;
    grid-row: 4 / 4;
    grid-column: 1 / -1;
    margin: 0;
  }

  .contactForm textarea {
    width: 100%;
    resize: none;
    grid-row: 6 / 6;
    grid-column: 1 / -1;
  }

  /* .contactForm input:focus:required:invalid {
    border-color: var(--alertColour);
    background-color: var(--colour2);
  } */

  .contactForm > span {
    grid-row: 7 / 7;
    grid-column: 1 / 1;
    transform: translateY(-100%)
  }

  .contactForm button {
    display: block;
    padding: 2%;
    width: 70%;
    grid-row: 7 / 7;
    grid-column: 2 / 2;
    transform: translateY(-65%)
  }
}

/* Mobile device in landscape-mode */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  body {
    flex-direction: row;
  }

  #mainNav {
    display: flex;
  }

  #hamburgerNav {
    display: none;
  }
}