@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply [&:not(motion-reduce)]:animate-fadeIn;
    @apply w-full !important;
  }
}

@layer components {
  /* !important applied to CSS rules in Components */
  .tooltip {
    @apply invisible group-hover:visible absolute rounded shadow-lg whitespace-nowrap opacity-85 z-[2000];
    @apply bg-light-tipBackgroundColour dark:bg-dark-tipBackgroundColour text-light-tipTextColour dark:text-dark-tipTextColour;
    @apply xs:text-[0.6rem] sm:text-[0.7rem] md:text-[0.7rem] lg:text-[0.75rem] xl:text-[0.8rem];
    @apply p-1 -top-4 left-12 md:-top-6;
  }

  #dropMenu li {
    @apply hover:bg-light-menuBackgroundHoverColour dark:hover:bg-dark-menuBackgroundHoverColour md:p-2;
  }

  @media screen and (min-width: 650px) {
    #mainMenu {
      @apply bg-none -left-1/2;
    }

    #mainMenu > li:not(#dropMenuTrigger) {
      @apply transition duration-200 ease-out;
    }

    #mainMenu > li:not(#dropMenuTrigger):hover {
      @apply scale-x-[1.15];
    }
  }

  @media screen and (max-width: 649px) {
    #mainMenu,
    #dropMenu {
      @apply min-w-14 max-w-28;
    }

    #dropMenu {
      @apply w-[200px] translate-x-[80%];
    }

    #mainMenu li,
    #dropMenu li {
      @apply py-[3%] pr-0 pl-[10%];
      @apply bg-light-menuBackgroundColour dark:bg-dark-menuBackgroundColour;
      @apply hover:bg-light-menuBackgroundHoverColour dark:hover:bg-dark-menuBackgroundHoverColour;
      @apply hover:text-light-menuTextColour dark:hover:text-dark-menuTextColour;
    }

    .hamburger-menu.hover-active span:first-child {
      @apply animate-hamburgerTop;
    }

    .hamburger-menu.hover-active span:last-child {
      @apply animate-hamburgerBottom;
    }
  }
}

@layer utilities {
  /* Checks all images to ensure tags have been included */
  img:not([width]),
  img:not([height]),
  img:not([alt]) {
    @apply border-[5px] border-dashed border-light-alertColour dark:border-dark-alertColour;
  }

  /* || Scrollbars - for medium-sized and above devices */
  @media screen and (min-width: 650px) {
    html:not(.dark) ::-webkit-scrollbar {
      @apply w-[0.6rem] bg-light-scrollTrackColour;
    }

    html.dark ::-webkit-scrollbar {
      @apply w-[0.6rem] bg-dark-scrollTrackColour;
    }

    html:not(.dark) ::-webkit-scrollbar-track {
      @apply bg-light-scrollTrackColour;
    }

    html.dark ::-webkit-scrollbar-track {
      @apply bg-dark-scrollTrackColour;
    }

    html:not(.dark) ::-webkit-scrollbar-thumb {
      @apply bg-light-scrollButtonColour rounded-[0.3rem];
    }

    html.dark ::-webkit-scrollbar-thumb {
      @apply bg-dark-scrollButtonColour rounded-[0.3rem];
    }

    html:not(.dark) ::-webkit-scrollbar-button {
      @apply bg-light-scrollButtonColour rounded-[0.3rem];
    }

    html.dark ::-webkit-scrollbar-button {
      @apply bg-dark-scrollButtonColour rounded-[0.3rem];
    }

    html:not(.dark) ::-webkit-scrollbar-thumb:hover {
      @apply bg-light-scrollButtonHoverColour;
    }

    html.dark ::-webkit-scrollbar-thumb:hover {
      @apply bg-dark-scrollButtonHoverColour;
    }

    html:not(.dark) ::-webkit-scrollbar-button:hover {
      @apply bg-light-scrollButtonHoverColour;
    }

    html.dark ::-webkit-scrollbar-button:hover {
      @apply bg-dark-scrollButtonHoverColour;
    }
  }

  /* || Section Dividers */
  .content-section {
    @apply lg:-mt-[1px];
  }

  .parallaxContainer {
    @apply relative w-full h-screen;
    @apply sticky top-0;
  }

  .parallax {
    @apply w-full h-full absolute left-0;
    @apply bg-center bg-no-repeat;
    @apply bg-[size:auto_100%] md:bg-[size:auto_101%];
  }

  .parallax .title,
  #parallax3 h2 {
    @apply font-linkFont font-bold tracking-[0.55rem] text-light-textColour dark:text-light-textColour;
    @apply opacity-65 pointer-events-none text-shadow-parallaxShadow;
    @apply text-3xl sm:text-4xl md:text-4xl lg:text-6xl xl:text-8xl;
    @apply top-[38%] left-[10.5%];
    @apply relative transition-transform duration-100 w-full;
  }

  .glitch-before,
  .glitch-after {
    @apply absolute left-0 top-0 w-full h-full opacity-50 pointer-events-none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    mix-blend-mode: multiply;
  }

  .glitch-before {
    @apply text-[red] dark:text-dark-alertColour;
  }

  .glitch-after {
    @apply text-[blue] dark:text-[#c0c048];
  }

  .text_block {
    @apply relative mt-[3%] mx-[5%] md:mx-[10%] p-[5%] z-[100] text-justify overflow-hidden;
    @apply text-[0.8rem] sm:text-[0.9rem] md:text-base lg:text-[1.1rem] xl:text-[1.8rem];
    @apply leading-[1.1rem] sm:leading-[1.2rem] md:leading-[1.4rem] lg:leading-[1.5rem] xl:leading-[2.4rem];
    @apply bg-light-sectionBackColour dark:bg-dark-sectionBackColour;
    @apply text-light-textColour dark:text-dark-textColour;
    @apply text-start md:text-justify transition-transform duration-1000 ease-out;
    @apply origin-top -top-52 min-h-[5vh];
  }

  .text_block p {
    @apply mt-[2%];
  }

  .text_block.collapsed {
    @apply opacity-0 scale-y-0 h-0;
  }

  .blockEnd {
    @apply mb-[5rem];
  }

  /* || SVG section footer curve */
  .curve {
    @apply absolute bottom-0 left-0 w-full overflow-hidden;
    @apply leading-[0] rotate-180;
  }

  .curve svg {
    @apply relative block w-full;
    @apply xs:h-[2rem] sm:h-[3rem] md:h-[4rem] xs:-mt-2;
  }

  .curve .shape-fill {
    @apply fill-light-backColour dark:fill-dark-backColour;
  }

  .thank-you-bubble {
    @apply absolute p-2 text-center rounded-xl bottom-5 min-w-[10rem] z-[500] whitespace-nowrap;
    @apply bg-light-successColour dark:bg-dark-successColour;
    @apply text-light-textColour dark:text-dark-textColour;
    font-size: 1.2rem;
    pointer-events: none;
    @apply animate-floatUp;
  }

  .thank-you-bubble.thank-you-bubble-contact {
    @apply left-1/2 -bottom-80;
  }

  .thank-you-bubble::before {
    content: '';
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--bgColor);
    z-index: 10;
  }

  .thank-you-bubble::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--textColor);
  }
}

/* || Overview */


/* || About */
#block2 {
  @apply mb-[45%] sm:mb-[5%];
}

/* || Studies */

/* || Projects */

/* || Employment */

/* || Contact */
#block6 .formContainer {
  @apply pt-4 pb-8 px-6 mt-10;
}

#block6 .contactForm {
  @apply flex flex-col -ml-2 md:ml-0 md:gap-4 items-center place-items-start;
  @apply md:flex-row md:flex-wrap;
}

#block6 .contactForm #nameWrapper,
#block6 .contactForm #emailWrapper,
#block6 .contactForm #messageWrapper {
  @apply mt-2 w-[105%];
}

#block6 .contactForm #nameWrapper {
  @apply relative md:grid lg:w-[35%];
  @apply grid-rows-2 grid-cols-1 lg:grid-rows-2 lg:grid-cols-[70%_30%] xl:grid-rows-2 xl:grid-cols-[30%_70%];
}

#block6 .contactForm #nameWrapper label {
  @apply row-[1] col-[1] lg:mb-0;
}

#block6 .contactForm #nameWrapper input {
  @apply w-full row-[2] col-span-full;
}

#block6 .contactForm #nameWrapper .error-name {
  @apply row-[1] col-[2];
}

#block6 .contactForm #emailWrapper {
  @apply relative md:grid lg:w-[60%] lg:ml-[2.25%] xl:ml-[3%];
  @apply grid-rows-2 grid-cols-1 lg:grid-rows-2 lg:grid-cols-[60%_40%] xl:grid-rows-2 xl:grid-cols-[40%_60%];
}

#block6 .contactForm #emailWrapper label {
  @apply row-[1] col-[1] lg:mb-0;
}

#block6 .contactForm #emailWrapper input {
  @apply w-full row-[2] col-span-full;
}

#block6 .contactForm #emailWrapper .error-email {
  @apply row-[1] col-[2];
}

#block6 .contactForm #messageWrapper {
  @apply relative md:grid overflow-hidden;
  @apply grid-rows-[10%_90%] grid-cols-[40%_60%] md:grid-cols-[20%_80%]
}

#block6 .contactForm #messageWrapper label {
  @apply row-[1] col-[1] lg:mb-0;
}

#block6 .contactForm #messageWrapper textarea {
  @apply w-full max-w-full mt-0 md:mt-2 resize-none;
  @apply row-[2/-1] col-span-full;
}

#block6 .contactForm #messageWrapper .error-message {
  @apply row-[1] col-[2];
}

#block6 .contactForm #bottomWrapper {
  @apply relative w-full mt-5 md:grid;
  @apply grid-rows-1 grid-cols-[33%_67%];
}

#block6 .contactForm #bottomWrapper #checkboxContainer {
  @apply sm:flex sm:items-center row-[1];
}

#block6 .contactForm #bottomWrapper button {
  @apply block font-linkFont font-bold leading-5 rounded-lg;
  @apply mx-auto mt-[5%] py-[5%] xs:w-[90%] sm:w-[80%] md:w-[50%] lg:w-[40%] xl:w-[33%];
  @apply text-light-contactButtonTextColour dark:text-dark-contactButtonTextColour bg-light-alertColour dark:bg-dark-alertColour border-2 border-light-colour2 dark:border-dark-colour2;
  @apply transition-all duration-500;
  @apply col-[2];
}

#block6 .contactForm label {
  @apply block font-linkFont font-bold text-xl md:my-4 text-light-contactLabelColour dark:text-dark-contactLabelColour;
}

#block6 .contactForm input {
  @apply md:mb-[1.5%];
}

#block6 .contactForm input,
#block6 .contactForm textarea {
  @apply text-base md:px-[1%] md:py-[0.5%] outline-none rounded-lg border-2;
  @apply border-light-contactFormBorderColour dark:border-dark-contactFormBorderColour bg-light-contactFieldBackgroundColour dark:bg-dark-contactFieldBackgroundColour;
}

#block6 .contactForm input::-webkit-input-placeholder,
#block6 .contactForm textarea::-webkit-input-placeholder {
  @apply text-dark-contactFieldPlaceholderColour;
}

#block6 .contactForm input:focus,
#block6 .contactForm textarea:focus,
#block6 .contactForm input:hover,
#block6 .contactForm textarea:hover {
  @apply text-light-contactFieldTextColour dark:text-dark-contactFieldTextColour;
  @apply border-2 border-light-contactFieldBorderFocusColour dark:border-dark-contactFieldBorderFocusColour;
}

#block6 .contactForm input:focus:required:invalid {
  @apply border-2 border-light-alertColour dark:border-dark-alertColour;
  @apply bg-light-colour2 dark:bg-dark-colour2;
}

#block6 .contactForm #checkboxContainer label {
  @apply mb-0 md:ml-2 text-base font-normal;
}

#block6 .contactForm #contactForward {
  @apply mr-[0.25rem] md:mt-4 md:mb-0 text-light-colour1 dark:text-dark-colour2;
}

#block6 .contactForm .formContainer-field-valid {
  @apply border-light-successColour dark:border-dark-successColour !important;
}

#block6 .contactForm .formContainer-field-invalid {
  @apply border-light-alertColour dark:border-dark-alertColour !important;
}

#block6 .contactForm button.button-valid {
  @apply bg-light-contactButtonColour dark:bg-dark-contactButtonColour !important;
}

#block6 .contactForm button.button-invalid {
  @apply bg-light-alertColour dark:bg-dark-alertColour !important;
}

#block6 .errorBubble {
  @apply absolute top-14 right-10 z-[1000] rounded-lg p-2 -mb-16 flex-wrap text-right;
  @apply bg-light-alertColour dark:bg-dark-alertColour opacity-85;
  @apply text-light-tipTextColour dark:text-dark-tipTextColour;
  @apply border-2 border-light-alertColour dark:border-dark-alertColour;
  @apply xs:text-[0.6rem] sm:text-[0.7rem] md:text-[0.7rem] lg:text-[0.75rem] xl:text-[0.8rem];
  @apply min-h-[2.5rem] max-w-fit -translate-y-full;
}

#block6 #signatureBlock {
  @apply -rotate-[15deg] scale-[0.3] -translate-x-[35%] translate-y-[20%] md:translate-y-[5%];
}

#block6 #signatureBlock g {
  @apply fill-light-signatureColour dark:fill-dark-signatureColour;
}

#block6 #copyDate {
  @apply text-light-textColour dark:text-dark-textColour;
  @apply mb-[3%] md:mb-[5%] xs:pt-[10%] md:pt-[4%] lg:pt-[7%];
  @apply text-xs md:text-sm lg:text-xl xl:text-3xl font-normal text-right;
}
