@charset "UTF-8";

:root {
  --titleSize: min(5rem, 10vw);
  --linkSize1: min(2rem, 2.4vw);
  --linkSize2: min(1.75rem, 3.75vh);
  --heading1Size: min(3rem, 4vw);
  --heading2Size: min(4rem, 6vw);
  --textSize: min(1rem, 1.8vw);
  --tipSize: min(0.5rem, 1.2vw);
  --tipShadow: -2px -2px 3px var(--navTextColour);
}

/* || General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  height: auto;
}

ul {
  list-style-type: none;
}

/* || Navigation Menu  */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--navBarColour);
  box-shadow: 1px 1px var(--navTextColour);
  -webkit-transition: top 0.4s;
  -moz-transition: top 0.4s;
  transition: top 0.4s;
}

#hamburgerNav {
  display: none;
}

#mainNav ul {
  display: flex;
  flex-flow: row nowrap;
  place-content: center space-around;
}

#mainNav ul a {
  display: block;
  font-size: var(--linkSize1);
  color: var(--navTextColour);
  text-decoration: none;
  margin-top: 3%;
}

#mainNav ul a:hover {
  animation: linkPop 0.5s forwards;
}
@keyframes linkPop {
  0% { transform: scale(1); }
  100% { transform: scale(1.2); }
}

#mainNav ul a,
#mainNav ul .dropMenuTrigger {
  font-size: var(--linkSize1);
  font-family: inherit;
  color: var(--navTextColour);
}

#mainNav ul .dropMenuTrigger {
  margin-top: 0.25%;
  /* padding: ?? */
}

#mainNav ul .dropMenuTrigger:hover {
  background-color: var(--navHoverColour);
  cursor: pointer;
}

#mainNav ul .dropMenuTrigger:hover .dropMenu {
  display: block;
}

#mainNav ul .dropMenu {
  display: none;
  position: absolute;
  min-width: 15%;
  z-index: 100;
  margin-left: -9.75%; /* Modify margin values as screen-size changes */
  box-shadow: 4px 4px 6px var(--sidebarBackgroundColour);
  background-color: var(--navHoverColour);
}

#mainNav ul .dropMenu a {
  font-size: var(--linkSize2);
  color: var(--colour1);
  text-decoration: none;
  padding: 5%; /* Modify padding values as screen-size changes */
}

#mainNav ul .dropMenu a:hover {
  background-color: var(--textColour);
  color: var(--colour2);
  cursor: pointer;
}

/* || Light/Dark Viewing Mode */
.viewingMode {
  display: flex;
  position: relative;
  top: 15%; /* ?? */
  left: 0%;
  background-color: var(--navBarColour);
  border: none;
}

.viewingMode img {
  position: absolute;
  top: 0;
  left: 0;
  width: min(4vw, 56px);
}

.viewingMode:hover {
  cursor: pointer;
}

.scrollProgress {
  height: 2px;
  position: absolute;
  top: 7.85vh; /* Modify positioning values as screen-size changes */
  /* left: 0; */
  opacity: 0.8;
  z-index: 100;
  background-color: var(--progressColour);
  width: 100%;
  scale: 0 1;
  flex-direction: row;
  transform-origin: left;
  animation: progressLine linear;
  animation-timeline: scroll();
}
@keyframes progressLine {
  to { scale: 1 1; }
}

/* || Tooltips */
.tooltip {
  position: relative;
  cursor: help;
}

.tooltip:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 1vw;
  padding: 5px 10px;
  white-space: nowrap;
  background-color: var(--tipBackgroundColour);
  color: var(--tipTextColour);
  border: 1px solid var(--tipBorderColour);
  border-radius: 15px;
  font-size: 0.85em;
  font-style: italic;
  z-index: 100;
}

.viewingMode .tooltip:hover::before {
  top: 30px;
}

/* Display hamburger menu for narrower screens */
@media screen and (max-width: 560px) {
  #mainNav {
    display: none;
  }

  #hamburgerNav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 2%;
  }

  #hamburgerNav #hamburgerButton {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    position: relative;
  }

  #hamburgerNav #hamburgerIcon,
  #hamburgerNav #hamburgerIcon::before,
  #hamburgerNav #hamburgerIcon::after {
    background-color: var(--navTextColour);
    width: 30px; /* Modify width value as screen-size changes */
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
  }

  #hamburgerNav #hamburgerIcon::before,
  #hamburgerNav #hamburgerIcon::after {
    content: "";
  }

  #hamburgerNav #hamburgerIcon::before {
    transform: translate(0px, -12px); /* Modify values as screen-size changes */
  }

  #hamburgerNav #hamburgerIcon::after {
    transform: translate(0px, 12px); /* Modify values as screen-size changes */
  }

  #hamburgerNav #hamburgerButton:hover #hamburgerIcon {
    background-color: transparent;
    cursor: pointer;
  }

  #hamburgerNav #hamburgerButton:hover #hamburgerIcon::before {
    transform: translateX(0px) rotate(405deg); /* Modify translate value as screen-size changes */
  }

  #hamburgerNav #hamburgerButton:hover #hamburgerIcon::after {
    transform: translateX(0px) rotate(-405deg); /* Modify translate value as screen-size changes */
  }

  #hamburgerNav #hamburgerButton .mainMenu,
  #hamburgerNav .dropMenuTrigger .dropMenu {
    display: none;
    position: absolute;
    background-color: var(--navHoverColour);
    font-size: var(--linkSize2);
    text-align: left;
    min-width: 15%;
    z-index: 100;
    box-shadow: 4px 4px 6px var(--sidebarBackgroundColour);
    animation: menuBounce 0.3s ease-in-out forwards;
    transform-origin: top center;
    }
    @keyframes menuBounce {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(1);
    }
  }

  #hamburgerNav .mainMenu {
    top: 100%;
    left: -25%;
  }
  #hamburgerNav .dropMenu {
    top: 0%;
    left: 100%;
  }

  #hamburgerNav #hamburgerButton:hover .mainMenu,
  #hamburgerNav .dropMenuTrigger:hover .dropMenu {
    display: block;
  }

  #hamburgerNav .mainMenu a,
  #hamburgerNav .dropMenuTrigger {
    display: block;
    font-size: var(--linkSize2);
    color: var(--colour1);
    text-decoration: none;
    padding: 3%; /* !! No padding to left/right !! */
    position: relative;
    cursor: pointer;
  }

  #hamburgerNav .mainMenu,
  #hamburgerNav .dropMenu {
    background-color: var(--navHoverColour);
    padding: 10%; /* !! No padding on .mainMenu !! */
  }

  #hamburgerNav .mainMenu a:hover,
  #hamburgerNav .dropMenuTrigger:hover {
    background-color: var(--textColour);
    color: var(--colour2);
    cursor: pointer;
  }

  #hamburgerNav .viewingMode {
    position: absolute;
    top: 25%;
    left: 90%;
  }

  #hamburgerNav .viewingMode img {
    width: min(7.5vw, 56px); /* Adjust as necessary */
  }

  #hamburgerNav .scrollProgress {
    position: absolute;
    top: 30%;
    left: 0%;
  }
}