:root {
  --textColour: white;
  --backColour: black;
  --highlightColour1: #b3d9ff;
  --highlightColour2: #05b6fa;
  --highlightColour3: #3399ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 23px;
}

body {
  color: var(--textColour);
  background-color: var(--backColour);
}

section {
  margin: 2em auto;
}

#timeline-wrapper {
  position: relative;
  height: 100%;
  width: 85%;
  margin: 0 auto;
}

#timeline > * {
  position: relative;
  height: 100px;
  margin: 0 2.5%;
  overflow: hidden;
}

ol,
ul {
  list-style-type: none;
}

#timeline {
  height: 2px;
  width: 100%;
  background: var(--textColour);
}

/* Display event list horizontally */
.events ol {
  position: fixed;
  top: 25;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.events ol li:nth-of-type(1) {
  margin-left: 0%;
}

.events ol li:nth-of-type(2) {
  margin-left: -3%;
}

.events ol li:nth-of-type(3) {
  margin-left: -3%;
}

.events ol li:nth-of-type(4) {
  margin-left: 3%;
}

.events ol li:nth-of-type(5) {
  margin-left: -3%;
}

.events ol li:nth-of-type(6) {
  margin-left: -3%;
}

.events ol li:nth-of-type(7) {
  margin-left: 3%;
}

.events ol li:nth-of-type(8) {
  margin-left: 0%;
}

.events ol li:nth-of-type(9) {
  margin-left: 0%;
}

a:not(.content ol li:first-of-type p a) {
  color: var(--textColour);
  text-decoration: none;
}

/* Hide all but selected event */
.content ol li:not(.selected) {
  display: none;
}

/* Display selected item */
.content ol li .selected {
  display: inline-block;
}

.progressTimeline {
  -webkit-animation: advanceTimeline 1.5s ease-out;
  -moz-animation: advanceTimeline 1.5s ease-out;
  -ms-animation: advanceTimeline 1.5s ease-out;
  -o-animation: advanceTimeline 1.5s ease-out;
  animation: advanceTimeline 1.5s ease-out;
}

.retractTimeline {
  -webkit-animation: advanceTimeline 1.5s ease-out reverse;
  -moz-animation: advanceTimeline 1.5s ease-out reverse;
  -ms-animation: advanceTimeline 1.5s ease-out reverse;
  -o-animation: advanceTimeline 1.5s ease-out reverse;
  animation: advanceTimeline 1.5s ease-out reverse;
}
@keyframes advanceTimeline {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
  }
}

/* Left and right arrows to navigate the timeline */
.timeline-navigation a {
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid yellow;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
}

/* arrow icon - can be done using different method */
.timeline-navigation a::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.timeline-navigation a.next {
  right: 0;
  color: var(--textColour);
}

.content li > * {
  max-width: 60%;
  margin:  auto;
}

.content h2 {
  font-weight: bold;
  font-size: 2em !important;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 5%;
  color: var(--highlightColour3);
}

.content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
  color: lightgray;
}

.content p {
  font-size: 1.2em !important;
  color: var(--textColour);
  line-height: 1;
}

.content em::before {
  content: "- ";
}

.content ol li p {
  text-align: justify;
  text-justify: inter-word;
}

.enter-right {
  -webkit-animation: enter-right 2s ease-out;
  -moz-animation: enter-right 2s ease-out;
  -ms-animation: enter-right 2s ease-out;
  -o-animation: enter-right 2s ease-out;
  animation: enter-right 2s ease-out;
}

.leave-right {
  -webkit-animation: enter-right 2s ease-out reverse;
  -moz-animation: enter-right 2s ease-out reverse;
  -ms-animation: enter-right 2s ease-out reverse;
  -o-animation: enter-right 2s ease-out reverse;
  animation: enter-right 2s ease-out reverse;
}
@keyframes enter-right {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.enter-left {
  -webkit-animation: enter-left 2s ease-out;
  -moz-animation: enter-left 2s ease-out;
  -ms-animation: enter-left 2s ease-out;
  -o-anumation: enter-left 2s ease-out;
  animation: enter-left 2s ease-out;
}

.leave-left {
  -webkit-animation: enter-left 2s ease-out reverse;
  -moz-animation: enter-left 2s ease-out reverse;
  -ms-animation: enter-left 2s ease-out reverse;
  -o-anumation: enter-left 2s ease-out reverse;
  animation: enter-left 2s ease-out reverse;
}
@keyframes enter-left {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@media only screen and (min-width: 768px) {
  /* .content h2 {
    font-size: 7rem;
  }
  .content em {
    font-size: 1.5em !important;
  }
  .content p {
    font-size: 1.8rem;
  } */
}
