$scrollbarColour: green;
$scrollbarHoverColour: #00b300;
$scrollbarTrackColour: #a67d3d;

$headerGradient: linear-gradient(to left, lightgreen,#b29977, #a67d3d, #009900);
$titleGradient: radial-gradient(ellipse, darkgreen, #008000, #7c5e2e, #008000, darkgreen);
$dropdownGradient: linear-gradient(to right, #5a8a21, #648825, #a67d3d);

$black: #000000;
$white: #ffffff;
$red: #ff4444;
$navy: #111999;
$grey1: #d9d9d9;
$grey2: #b3b3b3;
$green: #a7f1a7;
$shadow: #595959;